[submodule "other_libraries"]
	path = other_libraries
	url = https://github.com/itead/ITEADLIB_Arduino_Nextion
[submodule "BackEnd/src/hicop_lib"]
	path = BackEnd/src/hicop_lib
	url = https://github.com/EdisonAgudelo/Hicop.git
[submodule "BackEnd/pruebas/hicop_protocol/src/Hicop"]
	path = BackEnd/pruebas/hicop_protocol/src/Hicop
	url = https://github.com/EdisonAgudelo/Hicop.git
[submodule "BackEnd/pruebas/backend_test/src/Hicop"]
	path = BackEnd/pruebas/backend_test/src/Hicop
	url = https://github.com/EdisonAgudelo/Hicop.git
